Source: otb
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders: Andreas Tille <tille@debian.org>,
           Paolo Cavallini <cavallini@faunalia.it>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1~),
               cmake (>= 2.8.3),
               libinsighttoolkit4-dev,
               libgdal-dev (>= 1.10.0),
               libgeotiff-dev,
               libpng-dev,
               libproj-dev,
               libexpat1-dev,
               libtool,
               libcurl4-gnutls-dev,
               libopenthreads-dev,
               libboost-graph-dev,
               libqt4-dev,
               libqtcore4,
               libqtgui4,
               swig,
               python-dev,
               libkml-dev,
               libmuparser-dev,
               libopencv-dev,
               libossim-dev,
               libfftw3-dev,
               libtinyxml-dev
Standards-Version: 3.9.6
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-grass/otb.git
Vcs-Git: git://anonscm.debian.org/pkg-grass/otb.git
Homepage: http://www.orfeo-toolbox.org/

Package: libotb
Architecture: any
Section: libs
Depends: libgdal1h,
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: libotb-dev
Conflicts: libotb3.16,
           libotb3.18,
           libotb3.20
Provides: libotb
Description: Free library of image processing algorithms - runtime
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the shared libraries required by Monteverdi,
 Monteverdi2 and the OTB applications.

Package: libotb-dev
Architecture: any
Section: libdevel
Depends: libotb (= ${binary:Version}),
         cmake (>= 2.8.3),
         libinsighttoolkit4-dev,
         libgdal-dev (>= 1.10.0),
         libgeotiff-dev,
         libexpat1-dev,
         libopenthreads-dev,
         libboost-graph-dev,
         libkml-dev,
         libmuparser-dev,
         libopencv-dev,
         libossim-dev,
         libfftw3-dev,
         ${misc:Depends}
Conflicts: libotb3-dev
Provides: libotb-dev
Description: Free library of image processing algorithms - development
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the development files needed to build your own OTB
 applications.

Package: otb-bin-common
Architecture: any
Depends: libotb (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Plugins for ORFEO Toolbox applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the application plugins used by otb-bin and otb-bin-qt

Package: otb-bin
Architecture: any
Depends: otb-bin-common (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: ORFEO Toolbox command line applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the command line tools illustrating OTB features (using
 plugins provided by otb-bin-common package).

Package: otb-bin-qt
Architecture: any
Depends: otb-bin-common (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         libqtcore4,
         libqtgui4
Description: ORFEO Toolbox graphical user interface applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the GUI tools illustrating OTB features (using plugins
 provided by otb-bin-common package).

Package: python-otb
Architecture: any
Section: python
Depends: libotb (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         otb-bin-common,
         python,
         python-central
Description: ORFEO Toolbox Python API for applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the Python API for applications provided by the
 otb-bin-common package.
