Source: otb
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders: Andreas Tille <tille@debian.org>,
           Paolo Cavallini <cavallini@faunalia.it>,
           Rashad Kanavath <rashad.kanavath@c-s.fr>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1~),
               dh-exec,
               cmake (>= 2.8.3),
               libboost-graph-dev,
               libcurl4-gnutls-dev,
               libexpat1-dev,
               libfftw3-dev,
               libgdal-dev (>= 1.10.0),
               libgeotiff-dev,
               libinsighttoolkit4-dev,
               libkml-dev,
               libmuparser-dev,
               libpng-dev,
               libproj-dev,
               libtool,
               libopencv-dev,
               libopenthreads-dev,
               libossim-dev,
               libqt4-dev,
               libqtcore4,
               libqtgui4,
               libtinyxml-dev,
               python-dev,
               swig
Standards-Version: 3.9.6
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-grass/otb.git
Vcs-Git: git://anonscm.debian.org/pkg-grass/otb.git
Homepage: http://www.orfeo-toolbox.org/

Package: libotb
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: libotb-dev
Conflicts: libotb3.16,
           libotb3.18,
           libotb3.20,
           libotb4.0
Description: Free library of image processing algorithms - runtime
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the shared libraries required by Monteverdi,
 Monteverdi2 and the OTB applications.

Package: libotb-dev
Architecture: any
Section: libdevel
Depends: libotb (= ${binary:Version}),
         cmake (>= 2.8.3),
         libboost-graph-dev,
         libgdal-dev (>= 1.10.0),
         libgeotiff-dev,
         libinsighttoolkit4-dev,
         libkml-dev,
         libmuparser-dev,
         libopencv-dev,
         libopenthreads-dev,
         libossim-dev,
         ${misc:Depends}
Conflicts: libotb3-dev,
	   libotb4-dev
Description: Free library of image processing algorithms - development
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the development files needed to build your own OTB
 applications and modules.

Package: libotb-apps
Architecture: any
Depends: libotb (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Plugins for ORFEO Toolbox applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the application plugins used by otb-bin(commandline)
 and otb-bin-qt(gui)

Package: otb-bin
Architecture: any
Depends: libotb-commandline  (= ${binary:Version}),
         libotb-apps (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: ORFEO Toolbox command line applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the command line application launcher than can
 run any OTB application provided by libotb-apps package.

Package: libotb-commandline
Architecture: any
Depends: libotb (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: ORFEO Toolbox graphical user interface applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the shared library files for OTB's
 command line launcher provided by otb-bin package.

Package: libotb-qt4
Architecture: any
Depends: libotb (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         libqtcore4,
         libqtgui4
Description: ORFEO Toolbox graphical user interface applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the shared library files for OTB's GUI application launcher
 provided by otb-bin-qt package.

Package: otb-bin-qt
Architecture: any
Depends: libotb-qt4 (= ${binary:Version}),
         libotb-apps (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: ORFEO Toolbox graphical user interface applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the GUI launcher that can run any OTB application provided
 by libotb-apps package)

Package: python-otb
Architecture: any
Section: python
Depends: libotb (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         python,
         dh-python
Description: ORFEO Toolbox Python API for applications
 ORFEO Toolbox (OTB) is distributed as an open source library of image
 processing algorithms. OTB is based on the medical image processing library
 ITK and offers particular functionalities for remote sensing image processing
 in general and for high spatial resolution images in particular.
 .
 This package contains the Python API that can be used to create python version
 of exisiting OTB applications provided by the libotb-apps package.
