#!/usr/bin/make -f
#
# Copyright (C) 2010-2014 CNES - Centre National d'Etudes Spatiales
# Author: Sebastien DINOT <sebastien.dinot@c-s.fr>
#
# The OTB is distributed under the CeCILL license version 2. See files
# Licence_CeCILL_V2-en.txt (english version) or Licence_CeCILL_V2-fr.txt
# (french version) in 'Copyright' directory for details. This licenses are
# also available online:
# http://www.cecill.info/licences/Licence_CeCILL_V2-en.txt
# http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND = "-Wl,--as-needed"

ifndef PKGVERSION
    PKGVERSION=1
endif

OTB_VERSION_MAJOR  = $(shell sed -ne 's/set(OTB_VERSION_MAJOR "\([0-9]*\)")/\1/p' CMakeLists.txt)
OTB_VERSION_MINOR  = $(shell sed -ne 's/set(OTB_VERSION_MINOR "\([0-9]*\)")/\1/p' CMakeLists.txt)
OTB_VERSION_PATCH  = $(shell sed -ne 's/set(OTB_VERSION_PATCH "\([0-9]*\)")/\1/p' CMakeLists.txt)
OTB_VERSION_SONAME = "$(OTB_VERSION_MAJOR).$(OTB_VERSION_MINOR)"
OTB_VERSION_FULL   = "$(OTB_VERSION_MAJOR).$(OTB_VERSION_MINOR).$(OTB_VERSION_PATCH)"

CMAKE_FLAGS = \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_BUILD_TYPE:STRING=Release \
	-DCMAKE_SKIP_RPATH:BOOL=ON \
	-DOTB_USE_CURL:BOOL=ON \
	-DOTB_USE_LIBKML:BOOL=ON \
	-DOTB_USE_MUPARSER:BOOL=ON \
	-DOTB_USE_QT4:BOOL=ON \
	-DOTB_USE_OPENCV:BOOL=ON \
	-DBUILD_SHARED_LIBS:BOOL=ON \
	-DOTB_WRAP_PYTHON:BOOL=ON \
	-DBUILD_EXAMPLES:BOOL=OFF \
	-DBUILD_TESTING:BOOL=OFF \
	-DOTB_USE_MAPNIK:BOOL=OFF \
	-DOTB_USE_6S:BOOL=OFF \
	-DOTB_USE_MUPARSERX:BOOL=OFF \
	-DOTB_USE_OPENJPEG:BOOL=OFF \
	-DOTB_USE_LIBSVM:BOOL=OFF


DEBPKGNAME     := $(shell dpkg-parsechangelog | awk '/^Source:/ {print $$2}')
pkgcli:=$(DEBPKGNAME)-bin
pkggui:=$(DEBPKGNAME)-bin-qt
pkglib:=lib$(DEBPKGNAME)
pkgdev:=$(pkglib)-dev
mancli:=$(CURDIR)/debian/$(pkgcli)/usr/share/man/man1/
mangui:=$(CURDIR)/debian/$(pkggui)/usr/share/man/man1/

# OTB_LIB_DIRS = $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)
# rather use all libs since the installed libs are spread over several packages
OTB_LIB_DIRS = $(CURDIR)/debian/tmp/usr/lib

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_shlibdeps:
	dh_shlibdeps -l$(OTB_LIB_DIRS)

override_dh_install:
	dh_install --list-missing
	rm -f $(CURDIR)/debian/$(pkglib)/usr/lib/$(DEB_HOST_MULTIARCH)/libOTBWrapper*
	rm -f $(CURDIR)/debian/$(pkgdev)/usr/lib/$(DEB_HOST_MULTIARCH)/libOTBWrapper*
	rm -f $(CURDIR)/debian/$(pkgdev)/usr/lib/otb/python/*.pyc

override_dh_installchangelogs:
	dh_installchangelogs RELEASE_NOTES.txt

override_dh_installman:
	mkdir -p $(mancli)
	cp -a debian/manpages/otbcli* $(mancli)
	cp -a debian/manpages/otbApplicationLauncherCommandLine* $(mancli)
	mkdir -p $(mangui)
	cp -a debian/manpages/otbgui* $(mangui)
	cp -a debian/manpages/otbApplicationLauncherQt* $(mangui)

	cp -a debian/manpages/otbTestDriver* $(CURDIR)/debian/libotb/usr/share/man/man1/
